<div class="content">

  <h2>All deals available ordered by day:</h2>
<br>
  <table class="display-table">
    <tr>
      <th>Day</th>
      <th>Deal</th>
      <th>Eatery name</th>
      <th>Further details</th>
    </tr>
    <% for deal in @deals_by_day %>
    <tr>
      <td><%= deal.day %></td>
      <td><%= deal.deal_name %></td>
      <td> <a href="/eateries/<%= deal.eatery.id %>"><%= deal.eatery.name %></a></td>
      <td><a href="/deals/<%= deal.id %>">Deal Details</a></td>
    </tr>
    <% end %>
  </table>
</div>
